/* ljust tema */
body.light {
  background-color: #e4e8d9c7; 
  color: black;
}

/* mörkt tema */
body.dark {
  background-color: rgb(79, 78, 78); 
  color: white;
}

/* styling för temaknapp */
.theme-button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.1);
justify-content: center;
}
.theme-switcher {
  text-align: center;
  margin-bottom: 20px;
align-items: center;
}

.theme-button:hover {
  background-color: #464d46;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  color: white;
}

/* Anpassning för knappar i mörkt tema */
body.dark .theme-button {
  background-color: #555;
  color: white;

}

/* Ljusare hover för temaknapp i mörkt tema */
body.dark .theme-button:hover {
  background-color: #777; 
}

/* Styling för beskrivningstext i mörkt tema */
body.dark .description {
  color: #fff; 
}
