/* de ljusa temat */
body.light {
    background-color: #f3f5f9; 
    color: black;
  }
  
  /* de mörka temat */
  body.dark {
    background-color: rgb(79, 78, 78); /* den mörka färgen */
    color: white;
  }
  
  /* Ytterligare styling för knappar och andra element  */
  button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;

  }
  
  body.light button {
    background-color: #ddd;
    color: black;
  }
  
  body.dark button {
    background-color: #555;
    color: white;
  }
  